<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<h1>Kimai -&gt; Trello Plugin</h1>
Goto plugin admin.
<script src="https://p.trellocdn.com/power-up.min.js"></script>
<script>

async function getCardBackSection(t) {
    var cardId = -1;
    await t.card('shortLink').then(function (shortLink) {
       cardId = shortLink['shortLink'];
    });

    var url = "{{ url('trello_loggedtime', { cardId: 'CARDID' }) }}".replace("CARDID", cardId);
    return {
        icon: 'https://tobias.neontribe.co.uk/bundles/trello/kimai-grey.png',
        title: 'Time logged',
        content: {
            type: 'iframe',
            url: url,
            height: 100 // Max height is 500
        }
    };
}

async function getCardButton(t) {
    var boardId = -1;
    await t.card('shortLink').then(function (shortLink) {
       boardId = shortLink['shortLink'];
    });

    var cardId = -1;
    await t.card('shortLink').then(function (shortLink) {
       cardId = shortLink['shortLink'];
    });

    var url = "{{ url('trello_logtime', { projectId: 'PROJECTID', cardId: 'CARDID' }) }}".replace("CARDID", cardId).replace("PROJECTID", boardId);
    return [{
        icon: 'https://tobias.neontribe.co.uk/bundles/trello/kimai-grey.png',
        text: 'Kimai',
        callback: function(context) {
            // This is a temp solution that works but if you're not logged into kimai it shows the log in page an post login.
            // We need to check if this URL gives a 403, and if it does then display this page instead:
            //  {{ path('trello_login', {}, relative = false) }}
            return context.popup({
                title: 'Log Time',
                url: url,
                height: 500
            });
        }
    }];
}

    // we can access Bluebird Promises as follows
window.Promise = TrelloPowerUp.Promise;

TrelloPowerUp.initialize({
    'card-buttons': function(t, opts) {
        /*
        t.card('shortLink').then(function (shortLink) {
            alert(shortLink['shortLink']);
        });
        t.board('shortLink').then(function (shortLink) {
            alert(shortLink['shortLink']);
        });
        */
        return t.get('member', 'private', 'token')
            .then(function(token){
                return getCardButton(t);
            });
    },
    'card-back-section': function(t, opt){
        return getCardBackSection(t);
    }
});
</script>
</body>
</html>
