<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- I'm guessing this use the webpack jquwry that I guess symfont ships with -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>
<body>
<h1>Time logged</h1>
This should close the popup window
</body>
</html>

