<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- I'm guessing this use the webpack jquery that I guess symfony ships with -->
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
    <script>
         $(function() {
            $( "#tabs" ).tabs();

            $(".btn-time").on("click", function() {
                var time = parseInt($("#form_duration").val() || 0);
                time += parseInt($(this).data('time'));
                if (time < 15) {
                    time = 15;
                }
                $("#form_duration").val(time);
            });

            var searchParams = new URLSearchParams(window.location.search);
            if (searchParams.has('show')) {
                $(searchParams.get('show')).show();
            }
         });
    </script>

    <style>
         #tabs-1 {
             font-size: 14px;
         }
         .ui-widget-header {
            background:#b9cd6d;
            border: 1px solid #b9cd6d;
            color: #FFFFFF;
            font-weight: bold;
         }
    </style>
</head>
<body>

      <div id = "tabs">
         <ul>
            <li><a href = "#tabs-1">Log Time</a></li>
            <li><a href = "#tabs-2">Time Logged</a></li>
         </ul>
         <div id = "tabs-1">

            {% include '@ChromePlugin/logtime.html.twig' %}

         </div>
         <div id = "tabs-2">

            {% include '@ChromePlugin/loggedtime.html.twig' %}

         </div>
      </div>

</body>
</html>

