.datepicker-select-date,
.datepicker-select-time {
  box-sizing: border-box;
  float: left;
  width: 50%;
}
.datepicker-select-date {
  padding-right: 12px;
}
.datepicker-select-label {
  margin-bottom: 4px;
}
.datepicker-select-input {
  font-weight: normal;
  padding: 4px 6px;
  width: 100%;
}
.datepicker-confirm-btns .remove-date {
  float: right;
  margin-right: 0;
}
.pika-single {
  display: block;
  position: relative;
  background: #fff;
}
.pika-single button {
  border-radius: 0;
  border: none;
  background: none;
  font-weight: normal;
  box-shadow: none;
  margin: 0;
}
.pika-single:before,
.pika-single:after {
  content: " ";
  display: table;
}
.pika-single:after {
  clear: both;
}
.pika-single .pika-title {
  position: relative;
  text-align: center;
}
.pika-single .pika-label {
  border-radius: 3px;
  cursor: pointer;
  font-weight: normal !important;
  color: #8c8c8c;
  margin: 6px 0;
  padding: 6px 10px;
  text-decoration: underline;
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  z-index: 9999;
}
.pika-single .pika-label:hover {
  background-color: #D6DADC;
  color: #4d4d4d;
}
.pika-single .pika-label:active {
  background-color: #C4C9CC;
  color: #4d4d4d;
}
.pika-single .pika-label.is-disabled {
  cursor: default;
  opacity: .2;
}
.pika-single .pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  opacity: 0;
}
.pika-single .pika-prev,
.pika-single .pika-next {
  border-radius: 3px;
  cursor: pointer;
  font-weight: normal !important;
  color: #8c8c8c;
  margin: 6px 0;
  padding: 6px 10px;
  text-decoration: underline;
  display: block;
  outline: none;
  position: relative;
  white-space: nowrap;
}
.pika-single .pika-prev:hover,
.pika-single .pika-next:hover {
  background-color: #D6DADC;
  color: #4d4d4d;
}
.pika-single .pika-prev:active,
.pika-single .pika-next:active {
  background-color: #C4C9CC;
  color: #4d4d4d;
}
.pika-single .pika-prev.is-disabled,
.pika-single .pika-next.is-disabled {
  cursor: default;
  opacity: .2;
}
.pika-single .pika-prev,
.pika-single .is-rtl .pika-next {
  float: left;
}
.pika-single .pika-next,
.pika-single .is-rtl .pika-prev {
  float: right;
}
.pika-single .pika-select {
  display: inline-block;
}
.pika-single .pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
}
.pika-single .pika-table th,
.pika-single .pika-table td {
  width: 14.285714285714286%;
  padding: 0;
  text-align: center;
}
.pika-single .pika-table td {
  background-color: #EDEFF0;
}
.pika-single .pika-button {
  background: #fff;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-weight: normal !important;
  margin: 0;
  outline: none;
  padding: 6px;
  width: 100%;
}
.pika-single .is-today .pika-button {
  font-weight: bold;
}
.pika-single .is-selected .pika-button {
  color: #fff;
  background: #0079BF;
}
.pika-single .is-selected .pika-button:hover {
  background: #298FCA;
}
.pika-single .is-disabled .pika-button {
  color: #999;
  cursor: default;
  opacity: .3;
  pointer-events: none;
}
.pika-single .pika-button:hover {
  background-color: #D6DADC;
}
.pika-single .pika-table abbr {
  border-bottom: none;
  display: block;
  padding: 6px 0;
}